body{
  background: url('../img/bg3.jpg') top left no-repeat;
  height:600px; 
  background-size: 100% 120%;
  background-color: #CCCCCC;	
}
textarea{
  resize: none;
  width: 300px;
}
ul{
  padding-left:20px;
}
a{
  text-decoration: none;
  color: #F3812B;
}
a:hover{
  text-decoration: underline;
  color: #F3812B;
}
a:visited{
  color: #F3812B;
} 
.divass{
  border-top: 1px solid #F69A59;
  width:802px;
  background: #FFF;
  height: 148px;
}
.rodape a{
  color: #4965D2
}
.rodape2{
  text-align:right;
  background-color: #161616;
  width: 802px; 
}
.topo{
  background-color: #161616;
  background: -moz-linear-gradient(top, #161616, #FFFFFF) repeat-X;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#161616', endColorstr='#FFFFFF');
  background: -webkit-gradient(linear, left top, left bottom, from(#161616), to(#FFFFFF));
  padding: 0px;
  width:200px;
  margin: 0px 1px 0px 0px;
  height: 22px;
  border-bottom: 1px solid #C9C9C9;
  border-top: 1px solid #000000;
}
.topo:hover{
  background-color: #606060;
  background: -moz-linear-gradient(top, #606060, #F0F0F0) repeat-X
}
.divfather{
  width:802px;
  margin: 0 auto;
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
}
.corpo{
  height: 350px;
  width: 802px;
  background-color: #FFBB77;
  background: -moz-linear-gradient(top, #FFFFFF, #FFBB77) repeat-X;
}
.titmenu{
  font-size:10px;
  margin: 5px;
  font-family: arial;
  color:#FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.foto{
  float: right; 
  margin: 10px 5px 5px 5px;
  border: 1px solid #000000;
}
.texto{
  float: left; 
  font-family: arial; 
  font-size: 10px; 
  margin: 10px 5px 5px 5px;
  background-color: #FFEDDA;
  background: -moz-linear-gradient(top, #FFEDDA, #FFFFFF) repeat-X;
  border: 1px solid #CCCCCC;
  width: 175px;
  height: 300px;
}
.titulo_header{
  width: 300px;
  float: right;
  font-size: 34px;
  font-family: Supermercado One,Comic Sans MS,Verdana,Arial;
  color: #FB7;
  margin-top: 50px;
}
.titPages{
  font-size: 34px;
  font-family: Supermercado One,Comic Sans MS,Verdana,Arial;
  color: #FB7;
  float: left;
}
.form_contato{
  padding-top: 50px;
  width: 380px;
  text-align: left;
  margin: 0 auto;
  font-size: 11px;
  color: #161616;
  font-family: arial;
  font-weight: bold;
}
.form_contato input{
   border-radius: 7px;
   padding: 4px;
   width: 146px;
}
.form_contato #mensagem{
  border-radius: 7px;
  padding: 4px;
}
.interno{
  float:left;
  margin: 22px 0px 0px 0px;
  font-size: 10px;
  color: #FFFFFF;
  font-weight: bold;
  font-style: italic;
}
.subtit{
  color: #F3812B;
  font-weight: bold;
}
.subtitfather{
  color: #161616;
  font-weight: bold;
  font-style: italic;
}
.externo{
  border-left: 3px dotted #161616;
  border-right: 3px dotted #161616;
  padding-left: 30px;
}
.labelsContext{
  color: gray;
  font-size: 11px; 
  font-family: Comic Sans MS;
}
.buttons{
  font-size: 11px; 
  font-family: arial;
}
.login_caixas{
  color: gray; 
  font-size: 11px;
  font-family: Comic Sans MS;
  width: 200px; 
  padding: 5px 5px 5px 5px;
}