@CHARSET "UTF-8";

/* PAGINA CAD */
	/* CABECALHO */
	.divmsgcad{
		width: 60%;
		background-color: #ffeeaa;
		margin-top: 30px;
		border: solid 2px black;
		-moz-border-radius: 10px;
		-webkit-border-radius:10px;
		border-radius:10px;
		font-size: 22px;
		padding:10px;
		color:#cc0000;
	}
	
	.divcabecalhocad{
		height:120px;
		background-color: white;
		border-bottom: solid 12px blue;	
	    padding-bottom: 20px;
		padding-top: 20px;
	}
	
	.divbaixocabcalhocad{
		height: 500px;
		width: 100%;
		background-color: white;
	}
	
	/* TERMINA CABECALHO */

/* PAGINA VIEW */
	.divcabecalhoview{
		margin-left: 3px;
		height: 20%;
		border-bottom: 10px #D9CF2E solid;
		height: 120px;
		padding: 10px;
		background-color: #dee0db;
		width: 98%;
	}
 
.divcabecalho{
	height: 118px;
	border-bottom: solid 3px blue;
	background-color: white;
}

/* buscames.php */
.divbaixomes{
	width: 80%;
	float: right;
	margin-top: 0px;
}

.tdlivre{
	width: 3%;
	background-color: lightgray;
}

.menu{
	matgin-left: 50%;	
	float: left;
	width: 150px;
	background-color: lightblue;
	border: solid 1px blue;
}

.menuh{
	float: left;	
	width: 150px;	
	background-color: #00AAFF;	
	border: solid 1px blue;
	cursor: pointer;
}

/* termina buscames.php */

/* COMECA CSS PARA CAIXA MENSAGEM SEM ERRO */
.divmsg{
	width: 50%;
	background-color: #eeeeaa;
	margin-top: 5px;
	border: solid 2px black;
	-moz-border-radius: 10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	font-size: 22px;
	padding:10px;
	color: darkgreen;
}
/* TERMINA PARA CAIXA MENSAGEM SEM ERRO */


/* COMECA CSS PARA CAIXA MENSAGEM COM ERRO */
/* FAZER CAIXA SIMILA A DIVMSG POREM PARA MENSAGENS DE ERRO */
.divmsgerro{
	width: 50%;
	background-color: #ffffbb;
	margin-top: 5px;
	border: solid 2px black;
	-moz-border-radius: 10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	font-size: 22px;
	padding:10px;
	color:#cc0000;	
}

/* TERMINA CSS PARA CAIXA MENSAGEM COMM ERRO */

/* PAGINA INDEX.PHP */
.divcabecalhoindex{
	background-color: #CFCFCF;
	height: 100px;
	width: 100%;
	border-bottom: solid 12px blue;
}

/****** DIVABSOLUTE ******/
#divabsolute{
    position: fixed;
    vertical-align: middle;
    background: black;
    text-align: center;
	width: 100%;
	height: 100%;
	filter: alpha(opacity:50);
	moz-opacity:0.5;
	opacity:0.5;
	display: none;
}

#caixaeex{
    position: fixed;
    background: white;
    width: 20%;
    height: 72%;
	filter: alpha(opacity:100);
	moz-opacity:0.9;
	opacity:0.9;
	top: 15%;
	left: 40%;
	overflow:auto;
	border: solid 1px blue;
	display: none;
}

#caixaeexprof{
    position: fixed;
    background: white;
    width:20%;
    height: 120px;
	filter: alpha(opacity:90);
	moz-opacity:0.9;
	opacity:0.9;
	top:30%;
	left:43%;
	overflow:auto;
	border: solid 1px blue;
	display: none;
	background-color: lightgray;
}

/*--------------------------------------------------------*/
/****************COMECA VIEW.PHP ***************************/
* {padding:0px; margin:0px;}
.bodyview{
	overflow: hidden;
	background: /*url("../imagens/fundo.jpg")*/ #000 no-repeat;
}

.divgeral{
	height: 100%;
	width: 100%;
}

.divlaboratorios{
	width: 100%;
	height: 80%;
}

.divlabs{
	background: url("../imagens/fundoocupado.png") no-repeat;
	float: left;
	width: 19.65%;
	height: 49.3%;
	margin-left: 4px;
	margin-top: 5px;
}

.divlab06{
	float: left;
	width: 19.65%;
	height: 49.8%;
	margin-left: 5px;
	margin-top: 5px;
}

.divlab06a{
	background: url("../imagens/fundoocupado.png") no-repeat;
	width: 100%;
	height: 48.7%;
}

.divlab06b{
	background: url("../imagens/fundoocupado.png") no-repeat;
	margin-top: 4px;
	width: 100%;
	height: 48.7%;
}

.numero{
	font-size: 120px;
	color: #FFFFFF;
	font-family: Arial, sans-serif;
	margin-top: 20px;
	font-weight: bold;
}

/*--------- COMECA LABORATORIO 06 ----------*/
.numero6{
	font-size: 70px;
	color: #FFFFFF;
	font-family: Arial, sans-serif;
	position: relative;
	top: 30px;
	font-weight: bold;
	margin-left: 15px;
}

.letra{
	font-size: 30px;
	color: #FFFFFF;
	font-family: Arial, sans-serif;
	position: relative;
	top: -16px;
	left: -50px;
	margin-left: 30px;
}

.professor6{
	font-size: 26px;
	position: relative;
	top: -115px;
	color: #FFFFFF;
	margin-right: 15px;
	font-family: verdana;
}

.materia6{
	font-size: 26px;
	position: relative;
	bottom: 50px;
	color: #FFFFFF;
	margin-right: 15px;
	font-family: verdana;
}
/*********** TERMINA LABORATORIO 06 ***********/
/***** PROFESSORES E MATERIAS DAS DIVS *******/
.professor{
	position: relative;
	top: 40px;
	font-size: 26px;
	color: #FFFFFF;
	font-family: verdana;

}

.materia{
	position: relative;
	top: 55px;
	font-size: 26px;
	color: #FFFFFF;
	font-family: verdana;
}

/*---------- COMECA CABECALHO ----------*/

.fumeclogo {
	background-image: url("../imagens/logo_fumec.png");
	float:left;
	width:100px;
	height:100px;
	margin-top: 5px;
}

.divhorario{
	font-size: 40px;
	color: #15425C;
	font-family: Verdana, Arial, sans-serif;
	margin-top:-45px;
	margin-left:400px;
	
}

.divtitulocpd{
	font-size: 20px;
	color: #15425C;
	font-family: Verdana, Arial, sans-serif;
	float:right;
	margin-right:20px;

}

.nomelab {
	float:right;
	font-size: 40px;
	color: #15425C;
	font-family: Verdana, Arial, sans-serif;
	margin-top:20px;
	margin-right:10px;
}
/*********** TERMINA CABECALHO ***********/

/*---------- FRAME ----------*/
.frame{
	position: absolute;
	top: -50px;
}
/*********TERMINA VIEW.PHP ********************************************************/

/*------------ CSS PARA EDITAR OS HORARIOS ---------------------------------*/
.tablebusca{
	width: 90%;
	margin-top: 1%;
	border:2px black solid;
}

.toptd{
	width: 12%;
	background-color: #aa7799;
	color:#ddd;
}

.tdop{
	background-color: #aa7799;
	width: 5%;
	color:#ddd;
}

.buscatd{
	width: 2%;
	border: solid 1px gray;
}

.divexcluir{
	cursor: pointer;
	width: 30px;
	height: 30px;
	background-image: url('../imagens/excluir.gif');
}

/*------------ CSS PARA CADASTRO DE HORARIOS/PROFESSOR/MATERIA -------------*/
/* COMECA CSS PARA CADASTRAR HORARIOS */
body{
	background-color: white;
}
.bodycad{
	background-color: gray;
}
	
.divgeralhorario{
	border: solid 1px #FFFFF;
	width: 100%;
	height: 100%;
	background-color: #FFFFF;
}

.divmat{
	border: solid 1px white;
	position: relative;
	top: 21px;
	background-color: darkgray;
	width: 200px;
	height: 80px;
}

.divmateria{
	margin-top: 5px;
}

.matcadhora{
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 15px;
	font-family: Verdana, Arial, sans-serif;
}

.divlab{
	border: solid 1px white;
	position: relative;
	top: 22px;
	background-color: gray;
	width: 200px;
	height: 60px;
}

.labcadhora{
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 15px;
	font-family: Verdana, Arial, sans-serif;
}

.divhorariocadhorario{
	border: solid 1px white;
	position: relative;
	top: 23px;
	background-color: darkgray;
	width: 200px;
	height: 120px;
}

.divhora{
	margin-top: 5px;
}

.escritohorariocadhora{
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 15px;
	font-family: Verdana, Arial, sans-serif;
}

.ou{
	margin-top: 10px;
	font-size: 15px;
	font-family: Verdana, Arial, sans-serif;
}

.divsemana{
	border: solid 1px white;
	position: relative;
	top: 24px;
	background-color: gray;
	width: 200px;
	height: 135px;
}

.diasemanacadhora{
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 13px;
	font-family: Verdana, Arial, sans-serif;
}

.divdiasemana{
	margin-top: 1px;
}

.diamescadhora{
	margin-top: 2px;
	margin-bottom: 5px;
	font-size: 13px;
	font-family: Verdana, Arial, sans-serif;
}

.divreset{
	border: solid 1px white;
	position: relative;
	top: 28px;
	background-color: darkgray;
	width: 200px;
	height: 35px;
}

.butreset{
	margin-top: 5px;
}

.india{
	width: 50px;
}

.inmes{
	width: 50px;
	margin-left: 5px;
}

.inano{
	width: 50px;
	margin-left: 5px;
}
/*---------------------- TERMINA PAGINA DE CADASTRO ----------------------------------------------------/

/*************** PÃGINA INDEX  *****************/

.bodyindex{
	background-color:#ccb;
}

.divgeralindex{
	width: 60%;
	text-align: center;
	margin-top: 20%;
}

.divview{
	border: solid 1px silver;
	background-color: #eee;
	height: 120px;
}

.divcad{
	border: solid 1px silver;
	background-color: #eee;
	margin-top: 10px;
	height: 120px;
}

/*--------------------- TERMINA PAGINA INDEX --------------------------------*/

/*!!!!!!!!!!! MyCSSMenu Core CSS [Do Not Modify!] !!!!!!!!!!!!!*/
.qmmc .qmdivider{display:block;font-size:1px;border-width:0px;border-style:solid;position:relative;z-index:1;}.qmmc .qmdividery{float:left;width:0px;}.qmmc .qmtitle{display:block;cursor:default;white-space:nowrap;position:relative;z-index:1;}.qmclear {font-size:1px;height:0px;width:0px;clear:left;line-height:0px;display:block;float:none !important;}.qmmc {position:relative;zoom:1;z-index:10;}.qmmc a, .qmmc li {float:left;display:block;white-space:nowrap;position:relative;z-index:1;}.qmmc div a, .qmmc ul a, .qmmc ul li {float:none;}.qmsh div a {float:left;}.qmmc div{visibility:hidden;position:absolute;}.qmmc li {z-index:auto;}.qmmc ul {left:-10000px;position:absolute;z-index:10;}.qmmc, .qmmc ul {list-style:none;padding:0px;margin:0px;}.qmmc li a {float:none}.qmmc li:hover>ul{left:auto;}#qm0 ul {top:100%;}#qm0 ul li:hover>ul{top:0px;left:100%;}


/*!!!!!!!!!!! MyCSSMenu Styles !!!!!!!!!!!*/
/* MyCSSMenu 0 */

/*"""""""" (MAIN) Container""""""""*/	
#qm0	
{	
	background-color:#FFFFFF;
	background-image:url("../imagens/fundo2.png");
	border-width:1px 0px;
	border-style:solid;
	border-color:#000000;
}


/*"""""""" (MAIN) Items""""""""*/	
#qm0 a	
{	
	padding:5px 20px 5px 8px;
	color:#FFFFFF;
	font-family:Arial;
	font-size:12px;
	text-decoration:none;
	border-width:0px 0px 0px 1px;
	border-style:solid;
	border-color:#000000;
}


/*"""""""" (MAIN) Hover State""""""""*/	
#qm0 a:hover	
{	
	color:red;
	text-decoration:underline;
}


/*"""""""" (MAIN) Active State""""""""*/	
body #qm0 .qmactive, body #qm0 .qmactive:hover	
{	
	color:green;
	text-decoration:underline;
}


/*"""""""" (SUB) Container""""""""*/	
#qm0 div, #qm0 ul	
{	
	padding:5px;
	margin:0px;
	background-color:#D6DCE2;
	border-width:1px;
	border-style:solid;
	border-color:#333333;
}


/*"""""""" (SUB) Items""""""""*/	
#qm0 div a, #qm0 ul a	
{	
	padding:3px 30px 3px 5px;
	color:#333333;
	font-size:11px;
	border-width:0px 1px;
	border-style:solid;
	border-color:#D6DCE2;
}


/*"""""""" (SUB) Hover State""""""""*/	
#qm0 div a:hover, #qm0 ul a:hover	
{	
	color: white;
	text-decoration: underline;
	border-color:#666666;
}


/*"""""""" (SUB) Active State""""""""*/	
body #qm0 div .qmactive, body #qm0 div .qmactive:hover	
{	
	color:#000000;
	text-decoration:underline;
	border-color:#666666;
}


/*"""""""" Main Hover Fill Items [Static]""""""""*/	
#qm0 .qmhoverfill	
{	
	background-color:#91ED99;
}


/*"""""""" Sub Hover Fill Items [Static]""""""""*/	
#qm0 div .qmhoverfill	
{	
	background-color:#91E599;
	border-width:1px;
	border-style:solid;
	border-color:#555555;
}

/*--------------------------------------------------------------------------------*/


/*************** COMECA DOCBUSCA.PHP ********************************/

.novoprof{
	margin-top: 5px;
	font-size: 15px;
	cursor: pointer;
	text-decoration: underline;
}

.novoprofh{
	color: blue;
	margin-top: 5px;
	font-size: 15px;
	cursor: pointer;
	text-decoration: underline;
}

.divgeraddocbusca{
	background-color: blue;
}

.divmenulateral{
	background-color: gray;
	width : 20%;
	height: 98%;
	float: left;
}

.divladomenu{
	width : 80%;
	background-color: white;
	float: right;
}

/* QUEM SABE */
.livre{
	background-color: #ADFF2F;
	height: 30px;
	width: 25%;
}

.tdbusca{
	background-color: lightgray;
	height: 30px;
	width: 25%;
}

.tdbuscah{
	background-color: lightgreen;
	height: 30px;
	color: blue;
	cursor: pointer;
	width: 25%;
}

.tdlab{
	width: 30px;
	background-color: lightblue;
	width: 5px;
}

.tdlabh{
	width: 30px;
	background-color: lightgreen;
	width: 12px;
	color: red;
}

.divprof{
	border: solid 1px white;
	background-color: gray;
	width: 200px;
	height: 73px;
	position: relative;
	top: 18px;
}

/* BOTOES DO DOCBUSCA.PHP */
.butao{
	background-color: lightgray;
	width: 90%;
	margin-top: 20px;
	text-align: center;
	padding: 10px 0 10px 0;
	color:#000;
	border-style: outset;
	border-color: green;
}

.butaoh{
	
	/* IE */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#551A8B, endColorstr=#8968CD)";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#551A8B, endColorstr=#8968CD);
	/* Mozilla */
	background: -moz-linear-gradient(top, #551A8B, #8968CD) repeat-X;
	/* Safari, Google Chrome */
	background: -webkit-gradient(linear, left top, left bottom, from(#551A8B), to(#8968CD)) repeat-X;
	
	/*background-color: lightgreen;*/
	
	width: 90%;
	margin-top: 20px;
	text-align: center;
	padding: 10px 0 10px 0;
	color: blue;
	cursor:pointer;
	font-weight:bold;
	/*border:1px black solid;*/
	border-style: inset;
	border-color: green;
}

.butaoselecionado{
	background-color: #ddffdd;
	width: 90%;
	margin-top: 20px;
	text-align: center;
	padding: 10px 0 10px 0;
	color: #8866aa;
	cursor:pointer;
	font-weight:bold;
	border-style: inset;
	border-color: black;
}

/* TERMINA */
/* MESES */

.mes{
	float: left;
	width: 80px;
	border: solid 1px green;
	font-size: 12px;
}

.mesh{
	background-color: lightblue;
	float: left;
	width: 80px;
	border: solid 1px green;
	cursor: pointer;
	color: red;
	font-size: 12px;
}

.messelecionado{
	background-color: #4477DD;
	border:1px black solid;
	float: left;
	width: 80px;
	border: solid 1px green;
	cursor: pointer;
	color: #993355;
	font-size: 12px;
	font-weight:bold;
}

/* TERMINA */

/*------------------- TERMINA DOCBUSCA.PHP -----------------------*/

/******************* COMECA BUSCAPROF.PHP *************************/

.tdopprof{
	background-color: #aa7799;
	width: 2%;
	color:#ddd;
}

.divgeralprofessor{
	border: solid 1px #FFFFF;
	width: 100%;
	height: 100%;
	background-color: lightgray;
}

/*------------------- TERMINA BUSCAPROF.PHP ----------------------*/

/******************** COMECO PAGINA HOJE.PHP **********************/
.opcoes{
	margin-top: 20px;
	width: 210px;
}

.oplivre{
	float: left;
}
	
.opfechado{
	margin-left: 10px;
	float: left;
}

.opbanco{
	margin-left: 10px;
}

/*----------------- TERMINO PAGINA HOJE.PHP ---------------------*/ 